@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/* Header Section */

header {
    max-width: 100%;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 25px;
    border-bottom: 1px solid rgb(36, 36, 36);
    margin-bottom: none;
}

header > h1 {
    vertical-align: middle;
    text-decoration: underline solid 5px rgb(187, 187, 28);
}

nav {
    margin-top: 25px;
    vertical-align: middle;
}

nav > a {
    text-decoration: none;
    padding-right: 15px;
    color: white;
    font-size: 1.25rem;
    text-decoration: underline solid 4px rgb(187, 187, 28);
}

/* Main Body */

main {
    max-width: 90%;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.youtube-videos {
    width: 514px;
    height: 289px;
    margin-top: 75px;
}


/* Media Queries */

@media (max-width: 768px) {

}


@media (max-width: 425px) {

}
