@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/* Header Section */

header {
    max-width: 100%;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 100px;
    border-bottom: 1px solid rgb(36, 36, 36);
}

header > h1 {
    vertical-align: middle;
    text-decoration: underline solid 5px #ffc922;
}

nav {
    margin-top: 25px;
    vertical-align: middle;
}

nav > a {
    text-decoration: none;
    padding-right: 15px;
    color: white;
    font-size: 1.25rem;
    text-decoration: underline solid 4px #ffc922;
}

/* Main Body */

main {
    max-width: 90%;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.youtube-videos {
    width: 514px;
    height: 289px;
    margin-top: 75px;
    border: solid 2px #ffc922;
}

/* About Page */

.about {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 75px auto;
}

.bio {
    max-width: 50%;
    max-height: 50%;
}

.bio h2 {
    font-size: 2rem;
    font-weight: 300;
}

.bio p {
    padding: 0 200px 0 200px;
}

.profile_pic {
    max-width: 50%;
    height: auto;
    align-items: center;
}

.profile_pic img {
    max-width: 50%;
    max-height: auto;
}

/* Services Page */

.pages_headers {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.services_boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services_boxes h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.services_placeholder {
    width: 40vw;
    height: 30vh;
    box-sizing: border-box;
    background-color: rgb(0, 195, 255);
}

/* Media Queries */

@media (max-width: 768px) {
    .about {
        display: inline-block;
        text-align: center;
        margin: 5px auto;
    }
    .bio {
        max-width: 90%;
        max-height: auto;
    }
    .bio h2 {
        font-size: 2rem;
        font-weight: 300;
    }
    .bio p {
        padding: 10px 10px;
    }
    .profile_pic {
        max-width: 90%;
        height: auto;
        align-items: center;
    }
    .profile_pic img {
        max-width: 90%;
        max-height: auto;
    }

    .services_boxes h3 {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }
    
    .services_placeholder {
        width: 90vw;
        height: 50vh;
        box-sizing: border-box;
        background-color: rgb(0, 195, 255);
    }
}


@media (max-width: 425px) {

    .services_placeholder {
        width: 90vw;
        height: 30vh;
        box-sizing: border-box;
        background-color: rgb(0, 195, 255);
    }
}
