@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital@1&display=swap');

body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: rgb(36, 36, 36);
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

/* Header Section */

header {
    max-width: 100%;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 25px;
    border-bottom: 1px solid rgb(36, 36, 36);
    margin-bottom: none;
}

header > h1 {
    vertical-align: middle;
    text-decoration: underline solid 5px rgb(187, 187, 28);
}

nav {
    margin-top: 25px;
    vertical-align: middle;
}

nav > a {
    text-decoration: none;
    padding-right: 15px;
    color: rgb(36, 36, 36);
    font-size: 1.25rem;
    text-decoration: underline solid 4px rgb(187, 187, 28);
}

/* Hero Section */

#Intro {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    margin-top: none;
    max-width: 50%;
    min-height: 200px;
}

#Intro > img {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
}

#Intro > h1 {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}

#Intro hr {
    border-top: 4px solid rgb(187, 187, 28);
}

/* Photography Section */

#Photography {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 25px;
}

#Photo-Gallery > h2 {
    text-align: center;
}

.Photos {
    max-width: 30%;
    height: auto;
    padding-top: 25px;
}


#Photo-Gallery a {
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    background-color: blue;
    border: 2px solid whitesmoke;
    border-radius: 33%;
    padding: 10px;
}

/*Footer Section */

footer {
    margin-top: 50px;
    max-height: 100px;
    padding: 5px 25px;
    border-top: 2px solid rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
}

/* Media Queries */

@media (max-width: 768px) {

.Photos {
    min-width: 45%;
    height: auto;
    padding-top: 25px;
}

#Intro > h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 1.5rem;
}

#Photo-Gallery > h2 {
    text-align: center;
    font-size: 1.2rem;
}

}

@media (max-width: 425px) {

    .Photos {
        min-width: 100%;
        height: auto;
        padding-top: 25px;
    }

    #Intro > h1 {
        margin-top: 0px;
        text-align: center;
        font-size: 1rem;
    }

    #Photo-Gallery > h2 {
        text-align: center;
        font-size: 1rem;
    }

    footer h2 {
        display: none;
    }
    
    }